/* Basic Styles */

body {
    max-width: 1000px;
    margin: auto;
    background-color: #7ea95f;
    color: #212121;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 2.5em;
    text-align: center;
    margin: 50px 0 30px;
    text-shadow: 2px 2px #7ea95f;
    color: white;
}

label {
    font-size: 1.2em;
    margin-bottom: 10px;
    display: block;
}

/* Table Styles */

table {
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
    border-collapse: separate;
    border-spacing: 0px 10px;
}

th, td {
    text-align: left;
    background-color: #fff;
    color: #212121;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px #689F38;
}

/* Button Styles */

button, input[type="submit"] {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    border-radius: 5px;
    box-shadow: 2px 2px #689F38;
    background-color: #fff;
    color: #212121;
    padding: 10px;
}

.left-button {
    position: absolute;
    left: 500px;
    top: 20px;
}

.right-button {
    position: absolute;
    right: 500px;
    top: 20px;
}

/* Form Input Styles */

input[type="text"], input[type="number"], select {
    width: 100%;
    font-size: 1em;
    background: #dedede;
    color: #212121;
    font-family: 'Roboto', sans-serif;
    border-radius: 4px;
}

.descriptionBox {
    width: 1000px;
    height: 100px;
    background-color: white;
    align-content: center;
    font-size: 1.5em;
}

.bottomDivBox{
    width: 1000px;
    height: fit-content;
    background-color: white;
}

.button{

}