<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <style>
        .container {
            max-width: 1500px; /* Change this value to adjust the width */
        }
    </style>
</head>
<body style="background-color: #82ac85" ;>

<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-1000">
            <div class="col col-lg-9 col-xl-7">
                <div class="card rounded-10">
                    <div class="card-body p-4 " style="background-color: rgba(191,216,196,0.36)">
                        <div class="row justify-content-between mb-3">
                            <div class="col-6">
                                <a class="btn btn-info" th:href="@{all_recipes}">View all recipes</a>
                            </div>
                            <div class="col-6 text-right">
                                <a class="btn btn-info" th:href="@{all_groceries}">View all groceries</a>
                            </div>
                        </div>
                        <h1 class="text-center my-3 pb-3">Shoppinglist</h1>
                        <div class="table-responsive">
                            <table class="table table-bordered" style="max-width: 800px;">
                                <thead class="thead-dark">
                                <tr>
                                    <th scope="col" class="col-1">Check</th>
                                    <th scope="col" >Name</th>
                                    <th scope="col" class="col-1">Amount</th>
                                    <th scope="col" class="col-1">Unit</th>
                                    <th scope="col" class="col-1">Remove</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="grocery : ${list}">
                                    <td><input type="checkbox" name="selected"></td>
                                    <td th:text="${grocery.name}"></td>
                                    <td th:text="${grocery.amount}"></td>
                                    <td th:text="${grocery.unit}"></td>
                                    <td>
                                        <a type="button" class="btn btn-danger btn-sm"
                                           th:href="@{'delete_grocery_from_shoppinglist/' + ${grocery.name}}">Remove</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="col-12 text-right">
                                <a type="button" class="btn btn-danger" th:href="@{'clear_shopping_list'}">Clear
                                    shoppinglist</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
</body>
</html>