<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${recipe.name}"></title>
    <link th:href="@{/single_Recipe.html}" rel="stylesheet">

</head>
<body>
<h1 th:text="${recipe.name}"></h1>

<div align="center">
    <p th:text="${recipe.description}"></p>

    <table>
        <thead>
        <tr>
            <th>Ingredient</th>
            <th>Amount</th>
            <th>Unit</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ingredient : ${recipe.ingredients}">

            <td th:text="${ingredient.name}"></td>
            <td th:text="${ingredient.amount}"></td>
            <td th:text="${ingredient.unit}"></td>
        </tr>
        </tbody>
    </table>
    <div>

    </div>
</div>

</body>
</html>